:root {
    --theme-color: rgb(40, 74, 156);
}

body {
    font-family: Arial, sans-serif;
    color: #FFF;
    margin: 0 auto;
    min-height: 100vh;
}


#container {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--theme-color);
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
}

header {
    flex-basis: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFF;
}

#main {
    flex: 6;
}

h2 {
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;

}

button {
    border: 0;
    background-color: #FFF;
    padding: 10px 25px;
    color: var(--theme-color);
    font-weight: bold;
}

.featured-dish-section,
.testimonials-section,
.contact-section {
    margin-top: 20px;
}

.testimonial {
    margin: 10px 0;
}

.testimonial-name {
    font-weight: bold;
}

.testimonial-comment {
    margin: 5px 0 10px 20px;
    font-style: italic;
}





.history-section,
.mission-section,
.team-section {
    margin-top: 20px;
}

.team-member {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.member-name {
    font-weight: bold;
}

.member-role {
    color: hsla(0, 0%, 90%, 0.773);
}






.menu-section {
    margin-top: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.item-name {
    font-weight: bold;
}

.item-price {
    color: hsla(0, 0%, 90%, 0.773);
}